@model Book[]

@{
    ViewData["Title"] = "Results of Search";
}

<h1>Results of Search</h1>

@if (Model.Length == 0)
{
    <p>Not found </p>
}
else
{
<ul>
    @foreach (var book in Model)
    {
        <!-- localhost:port/book/Index/{id} -->
        <li><a href=@Url.Action("Index","Book", new { id=book.Id})>@book.Title</a></li>
    }
</ul>
} 