@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Order completed";
}

<p>
    Order is processed. We are package it and send to delivery service.
</p>
<a href="@Url.Action("Index", "Home")">Return to Store</a>